body{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.main{
    background-image: url("../img/home-bg.jpeg");
    width:100%;
    height: 100%;
    
    background-size: cover;
}

.bg-color{
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height: 100%;
    
    background-size: cover;
}

.title-main{
    padding: 20px;
    text-align: center;
    color:rgb(255,255,255);
    /* color:rgb(128, 0, 0); */

}
.in-box{
    margin: 20px;
}