body{
    width: 100%;
    height: 100%;
    font-family: 'Crimson Text', serif;
    
}

nav{
    z-index: 3521;
    text-align: center;
}

span.brand{
    font-size: 1.4em;
    color: white;
    font-family: 'Roboto Slab', serif;
}

button{
    align-self: center;
}

.button-wr{
    border-radius: 40px;
    width: 7em !important;
    line-height: 0.5 !important;
    background-color: rgb(128, 0, 0);
}
button a{
    font-family: 'Crimson Text', serif;
    color: white;
    line-height: 1.5;
    font-weight: 700;

}

button a:hover{
    font-family: 'Crimson Text', serif;
    color: white;
    line-height: 1.5;
    font-weight: 700;
    text-decoration: none;

}

button{
    margin-top: 15px !important;
}

@media only screen and (min-width: 980px){
.navbar-nav{
    float: right !important;
    position: fixed;
    right:10px;
    font-family: 'Crimson Text', serif;
}
button{
    margin-top: 0px !important;
    margin-left: 15px !important;
}
}

.nav-item a{
    display: block;
    text-decoration: none;
    color:white;
}
.nav-item a:hover{
    background-color: white;
    color: rgb(128, 0, 0) !important;
    border-radius: 8px;
	transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.home{
    background-image: url(../img/home-bg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-attachment: fixed;
    top: 0;
    z-index: 0;;

}

.bg-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}